body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ad08ff;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.title {
    font-size: 48px;
    line-height: 80px;
    margin: 0;
    color: white;
}

.search-bar {
    margin: 20px 0;
}

#searchInput {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mod-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.mod-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mod-info {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.mod-item .view-btn {
    padding: 10px 20px;
    background-image: url('https://raw.githubusercontent.com/geode-sdk/geode/main/loader/resources/images/GE_button_01.png');
    background-size: cover;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.mod-item .view-btn:hover {
    background-image: url('https://raw.githubusercontent.com/geode-sdk/geode/main/loader/resources/images/GE_button_03.png');
}

.mod-item .mod-logo {
    height: 80px;
    width: auto;
    border-radius: 5px;
}

.mod-detail {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.mod-detail-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mod-logo-large {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.mod-description, .mod-analytics {
    margin-bottom: 20px;
}

.mod-analytics .analytics-chart {
    text-align: center;
    margin-top: 20px;
}

.analytics-chart img {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}